snippet log "console.log"
console.log($0)
endsnippet

snippet "JSO?N?" "JSON.stringify" r
JSON.stringify($0)
endsnippet

snippet "reac?t?" "react component" r
import * as React from "react"

interface IProps {
}

export default class $1 extends React.Component<IProps> {
  render() {
    return (
      $0
    )
  }
}
endsnippet
